body{
    background-color: #FFFFFF;
    min-width: 360px;
}

form{
    width: 300px;
}

#text-login{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-size: 120px;
    text-justify: justify;
    font-stretch: ultra-condensed;
    border-radius: 15px;
    border: 5px solid #444444;
    margin: 2%;
    margin-top: 120px;
    color: #1d1d1d;
    background-size: 300% 300%;
}

#main-login{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

#main-login .inputs p{
    text-align: center;
    margin-top: 120px;
    font-size: 100px;
    text-justify: justify;
    font-stretch: ultra-condensed;
}

.field{
    border-radius: 25px;
    
    width: max-content;
    
    padding: 5rem;
    padding-bottom: 7rem;
    
    margin-left: 1rem;

    margin-top: 90px;
    margin-bottom: 300px;

    background-color: #ffff78;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;

    box-shadow: 2px 3px 2px black;
    border: 2px solid black;

    transition-property: box-shadow, background-color;
    transition-duration: 0.2s;

}
.field p, label{
    width: max-content;

    color: #000000;
}
.field label{
    margin-top: 15px;
}
.field p{
    margin-top: 15px;
    font-size: xx-large;
    text-shadow: 2px 2px 2px black;
}
.field:hover{
    box-shadow: 6px 6px 6px black;
    background-color: #ffff92;
}

#register{
    box-shadow: -2px 3px 2px black;
}
#register:hover{
    box-shadow: -6px 6px 6px black;
}

.inputs{
    width: 100%;
}

.inputs input{
    width: 100%;
}

.field button{
    width: 100%;
    height: 35px;
    
    border-radius: 10px;
    border-color: #313131;

    margin-top: 30px;

    background-color: #ffffff;

    box-shadow: 1px 1px black;

    transition-property: border-radius, box-shadow;
    transition-duration: 0.5s;
}
.field button:hover{
    border-radius: 100px;
    box-shadow: 1px 5px black;
}

#esqueci-login{
    margin-top: 40px;
    height: 27px;
    width: max-content;
}

#container-esqueci-senha{
    position: fixed;
    width: max-content;
   
    border-radius: 20px;
  
    padding-left: 50px;
    padding-right: 50px;
    
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

input{
    display: flex;  
    border-radius: 5px;
    
    width: 300px;
    height: 33px;
    
    box-shadow: 1px 3px black;
    transition-property: background-color, border-radius;
    transition-duration: 0.5s;
}
input:hover{
    border-radius: 8px;
    background-color: #ececec;
}
input:focus{
    border: -3px, solid, black;
    background-color: #ffffaa;
}

.row-input-register{
    width: max-content;
    display: flex;
    flex-wrap: nowrap;
}

#idade-register{
    width: 150px;
}

#container-esqueci-senha {
    background-color: #fbffbe;
    padding: 50px;
    
    border: 2px solid black;
    
    width: 400px;
    
    text-align: justify;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    z-index: 1;
    
    transition-property: display;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}
#container-esqueci-senha > form > label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 200px;
    font-size: 15px;
}
#container-esqueci-senha > form {
    flex-wrap: wrap;
    display: flex;

    border-radius: 10px;
    padding: 20px;

    font-size: 15px;
    width: 100%;
    justify-content: center;
}
#container-esqueci-senha > form > button{
    padding:5px;
    margin-top: 5vh;

    font-size: 15px;
    border-radius: 5px;
    background-color: #ffffff;
}
#fechar {
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: 1px 1px 1px black;
}

#listarTodos {
    padding: 20px;
    width: max-content;
    margin-left: 46vw;
    border-radius: 8px;
}
#listando {
    width: 100%;
    background-color: #fff9c5;
    padding: 50px;
}
select{
    display: flex;  
    border-radius: 5px;
    margin-left: 5px;
    
    width: 150px;
    height: 33px;

    border-radius: 13px;
    background-color: #ffffaa;

    box-shadow: 1px 3px black;

    transition-property: border-radius, box-shadow;
    transition-duration: 0.5s;
}
select:focus{
    background-color: #ffff69;
}
select:hover{
    box-shadow: 1px 5px black;
}

@media screen and (max-width: 1200px){
    #main-login{
        flex-wrap: wrap;
    }

    .field{
        width: 90%;
    }
}

@media screen and (max-width: 900px){
    #text-login{
        font-size: 70px
    }
    .field{
        width: 90%;
    }
}

@media screen and (max-width: 400px){
    #text-login{
        font-size: 50px
    }
    .field{
        width: 90%;
    }
}